<section class="footer-top">
    <div class="containers">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="../../../assets/logo.png" alt="footer logo">
          </div>
          <div class="footer-top-menu">
            <ul>
              <li>
                <i class="material-icons">home</i>
                <span class="heading"> Address </span>
                <span class="address"> knn jodhpur, Raj </span>
              </li>
  
              <li>
                <i class="material-icons">  mail_outline </i> 
                <span class="heading"> Mail Us: </span>
                <span class="email"> <a href=" "> mabs100@gmail.com </a> </span>
              </li>
  
              <li>
                <i class="material-icons"> phone_iphone </i>
                <span class="heading"> Phone Us: </span>
                <span class="number"> <a href="tel:100000-00000"> 10000-00000 </a> </span>
              </li>
  
              <li>
                 <a href="">
                 <img src="../../../assets/payment.png" alt="payment">   
                </a>
              </li>
            </ul>
  
          </div>
          </div>
          <div class="col-md-3"> 
         <div class="footer-all-menu">
          <h2> My Account</h2>
          <ul> 
            <li> 
              <i class="material-icons"> account_circle</i>
              <a href=" "> Information </a>
            </li>
            <li>
              <i class="material-icons">home</i>
              <span class="heading"> Address </span>
              <span class="address"> knn jodhpur, Raj </span>
            </li>
  
            <li>
              <i class="material-icons">  mail_outline </i> 
              <span class="heading"> Mail Us: </span>
              <span class="email"> <a href=" "> mabs100@gmail.com </a> </span>
            </li>
  
            <li>
              <i class="material-icons"> phone_iphone </i>
              <span class="heading"> Phone Us: </span>
              <span class="number"> <a href="tel:100000-00000"> 10000-00000 </a> </span>
            </li>
          </ul>
          </div>
  
          </div>
          <div class="col-md-3"> 
          <div class="footer-all-menu">
            <h2> My Account</h2>
            <ul> 
              <li> 
                <i class="material-icons"> account_circle</i>
                <a href=" "> Information </a>
              </li>
              <li>
                <i class="material-icons">home</i>
                <span class="heading"> Address </span>
                <span class="address"> knn jodhpur, Raj </span>
              </li>
  
              <li>
                <i class="material-icons">  mail_outline </i> 
                <span class="heading"> Mail Us: </span>
                <span class="email"> <a href=" "> mabs100@gmail.com </a> </span>
              </li>
  
              <li>
                <i class="material-icons"> phone_iphone </i>
                <span class="heading"> Phone Us: </span>
                <span class="number"> <a href="tel:100000-00000"> 10000-00000 </a> </span>
              </li>
            </ul>
          </div>
          </div>
          <div class="col-md-2"> 
          <div class="footer-all-menu">
            <h2> My Account</h2>
            <ul> 
              <li> 
                <i class="material-icons"> account_circle</i>
                <a href=" "> Information </a>
              </li>
              <li>
                <i class="material-icons">home</i>
                <span class="heading"> Address </span>
                <span class="address"> knn jodhpur, Raj </span>
              </li>
  
              <li>
                <i class="material-icons">  mail_outline </i> 
                <span class="heading"> Mail Us: </span>
                <span class="email"> <a href=" "> mabs100@gmail.com </a> </span>
              </li>
  
              <li>
                <i class="material-icons"> phone_iphone </i>
                <span class="heading"> Phone Us: </span>
                <span class="number"> <a href="tel:100000-00000"> 10000-00000 </a> </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- second below three div -->
  <section class="footer-middle"> 
    <div class="containers">
      <div class="row"> 
        <div class="col-md-4">
          <h2>  sign up for our exclusive newsletter</h2>  
          </div>
            <div class="col-md-4"> 
              <input type="mail" class="input" placeholder="Email">
              <button type="button" class="btn"> <i class="material-icons">
                near_me
              </i> </button>
            </div>
            <div class="col-md-4"> 
              <div class="social text-center">
              <ul>
                <li> <a href="https://www.facebook.com" target="_blank"> <i class="material-icons">facebook </i> </a> </li>
                <li> <a href=" "> <i class="material-icons"> <mat-icon> spellcheck </mat-icon> </i> </a> </li>
                <li> <a href=" "> <i class="material-icons"> <mat-icon>linkedin</mat-icon>  </i> </a> </li>
                <li> <a href=" "> <i class="material-icons"> <mat-icon> business </mat-icon> </i> </a> </li>
                <li> <a href="https//www.maps.google.com" target="_blank"> <i class="material-icons"> <mat-icon> place</mat-icon> </i> </a> </li>
              </ul>  
              </div>
            </div>
      </div>
    </div>
  </section>
  <!-- third div-->
  <footer>
  <div class="containers">
  <p> @2021 MABS Designed by <a href=""> Creative Developer </a> All Rights Reserve </p>  
  </div>  
  </footer>
  